.nav-bar{
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
 .nav-logo img{
    width: 30%;
    margin-right: auto;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}
@media(max-width: 1300px) {
    .nav-links{
        width: 25%;
    }
}
@media(min-width: 1300px) {
    .nav-links{
        width: 15%;
    }
}
@media(max-width: 950px) {
    .nav-links{
        width: 40%;
    }
}
@media(max-width: 750px) {
    .nav-links{
        width: 55%;
    }
    .nav-logo img{
        width: 50%;
    }
}
@media(max-width: 650px) {
    .nav-links{
        width: 100%;
    }
    .nav-logo img{
        width: 60%;
    }
    .btn-main{
        font-size: 12px;
    }
}
.nav-links li{
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.nav-links li a{
    text-decoration: none;
    transition: all 0.3s ease;
    color: rgb(253, 253, 253);
}

.btn-main{
    padding: 9px 25px;
    background-color: rgba(247, 18, 48, 1);
    border: none;
    border-radius: 50px;    
    transition: all 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    
}
.btn-main:hover{
    background-color: rgba(247, 18, 48, 0.7);
}
/* .nav-links li a{
    text-decoration: none;
}

.nav-links li{
    display: inline-block;
    margin-right: 30px;
}

.btn-main{
    background-color: red;
    padding: 10px 20px;
    border-radius: 30px;
}
.btn-main:hover{
    background-color: rgb(218, 6, 6);
} */